h1, p, a, img{
    border: 2px solid rgb(155, 104, 104);
    box-sizing: border-box;
}

h1, p{
    width: 200px;
    display: inline-block;
}

img{
    width: 100px;
}

/* a{
    display: none;
} */