/poo2/trabDev/FarmForm/target/
/poo2/ConsultaProvaPOOIIV2/target/
/projeto-sistemas/padroes-projeto/abstract factory/ExemploAbstractFactory/target/

/bd2/trabalho-interoperabilidade/*
/bd2/trabalhoOntologia/*
/projeto-sistemas/padroes-projeto/state/ExemploState/nbproject/private/
/projeto-sistemas/padroes-projeto/state/ExemploState/build/
/projeto-sistemas/padroes-projeto/state/ExemploState/dist/
/devWebII/WebApplication1/nbproject/private/
/devWebII/WebApplication1/build/
/devWebII/entrega0/target/
/SISTDIS/AplicacaoUDP/nbproject/private/
/SISTDIS/MeuClienteUDP/nbproject/private/
/SISTDIS/MeuClienteUDP/build/
/SISTDIS/AplicacaoUDP/build/
/SISTDIS/ControladorContador/nbproject/private/
/SISTDIS/ControladorContador/build/

# Arquivos grandes/VMs
*.vdi
*.box
SERINT/atividades/
# Ignora todo o diretório SERINT e seu conteúdo
SERINT/
/SISTDIS/AplicacaoContaCorrenteEx/nbproject/private/
/SISTDIS/AplicacaoContaCorrenteEx/build/
/SISTDIS/tarefaAvaliativa01/nbproject/private/
/SISTDIS/tarefaAvaliativa01/dist/
/SISTDIS/tarefaAvaliativa01/build/

/dispositivosmoveis/calculadora-imc-master/
devWebII/locadora/frontend/.env
/SISTDIS/projeto-ringo/target/
/SISTDIS/tarefa7/target/
devWebII/locadora/backend/src/main/resources/application.properties
