* {
    font-family: Verdana;
}
body {
    background-color: darkolivegreen;
    background-image: none;
    font-family: Arial, sans-serif;
}
p {
    color: white;
    font-size: 20px;
    text-align: justify;
}
h1 {
    font-size: 50px;
    border: 2px solid green;
    color: aquamarine;
    text-align: center;
    background-color: midnightblue;
    border-radius: 10px;
}
.destaque{
    color: blueviolet;
    font-weight: bold;
}

.fgrande{
    /* color: royalblue; */
    font-size: 40px;
}

#paragrafo-principal{
    color: yellow;
    font-style:italic
}
