body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
[bold],
.bold{
  font-weight: bold;
}

.bg-red {
  background-color: #c4170c !important;
  color: white !important;
}

.bg-red a {
  color: white;
}
.bg-light-gray{
  background-color: #F3F3F3;
  color: black;
}

nav .separator{
  margin: 0 5px;
}

nav a{
  margin: 5px;
}

.acesso-rapido {
  width: 100%;
  border-bottom: 1px solid gray;
}

.acesso-rapido p{
  padding: 10px;
  margin: 0;
  margin-left: 100px;
}

.acesso-rapido ul li a{
  color: #c4170c;
  font-size: 20px;
}