

nav .separator{
  margin: 0 5px;
}

nav a{
  text-decoration: none;
  margin: 5px;
}

.header-title{
  padding: 15px;
}

.acesso-rapido {
  width: 100%;
  border-bottom: 1px solid gray;
}

.acesso-rapido p{
  padding: 10px;
  margin: 0;
  margin-left: 100px;
}

.acesso-rapido ul li a{
  color: #c4170c;
  font-size: 20px;
}