*{
    box-sizing: border-box;  
}
  
body{
    margin: 0;
}

.container{
   display: flex;
   width: 100%;
   height: 100vh;
   /* width: 900px;
   height: 400px; */
}

.container-virado {
    display: flex;
    width: 100vw;
    height: 100%;
}

/* bandeira da frança */
.franca{
    width: 33.333%;
    height: 100%;
}

.franca.azul{
    background-color: #0055A4;
}
.franca.branco{
    background-color: #FFFFFF;
}
.franca.vermelho{
    background-color: #EF4135;
}

/* bandeira da irlanda */

.irlanda{
    width: 33.333%;
    height: 100%;
}

.irlanda.verde{
    background-color: #169B62;
}
.irlanda.branco{
    background-color: #FFFFFF;
}
.irlanda.laranja{
    background-color: #FF883E;
}

/* bandeira da argentina */
.argentina{
    width: 33.333%;
    height: 100%;
}

.argentina.celeste{
    background-color: #74ACDF;
}
.argentina.branco{
    background-color: #FFFFFF;
}