:root {
    --vermelho-oficial: #e25e5e;
}

body:not(h1) {
    font-family: 'Arial', sans-serif;
}

/* section p{
    color: green;
} */

/* main .destaque {
    color: gold;
} */

footer a {
    color: green;
}

footer a[title] {
    color: aqua;
}

footer a[title="Teste"] {
    color: brown;
}

.destaque, h3{
    color: var(--vermelho-oficial);
    font-weight: bold;
}

h1.destaque{
    color: blueviolet;
    text-decoration: underline;
}

.fgrande {
    font-size: 40px;
}

.destaque.fgrande {
    font-style: italic;
}

/* .destaque .fgrande {
    font-style: oblique;
} e diferente */

footer > p {
    color: deeppink;
}

/* .destaque + p {
    font-style: italic;
    color: gold;
} */

.destaque ~ p {
    font-style: italic;
    color: gold;
}


/* h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
} */

a:hover {
    background-color: var(--vermelho-oficial); 
    color: white;
    font-size: 30px;
}

p::first-letter {
    font-size: 35px;
}