*{
  box-sizing: border-box;  
}

body{
    margin: 0;
}

.container{
    border: 5px solid rgb(217, 17, 17);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: flex-start;
    align-items: baseline; */
    height: 100vh;
}

.item{
    width: 150px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.item1{
    background-color: blue; 
}

.item1 div{
    border: 5px solid black; 
}

.item2{
    background-color: red;
    /* height: 200px; */
}

.item3{
    background-color: green;
    /* height: 150px; */
}
